.cta {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  padding: 2rem;
  font-family: var(--font-family);
}

.cta__subtext {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
  cursor: pointer;
}

.cta__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cta__register-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}

.cta__register button {
  background: #000000;
  border-radius: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .cta__register button {
    margin: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 590px) {
  .cta__register-heading {
    font-size: 16px;
    line-height: 25px;
  }
  .cta__register button {
    padding: 0.25rem 1rem;
    font-size: 12px;
    line-height: 20px;
  }
}
