.blog__content_card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-footer);
  width: 100%;
  height: 100%;
}

.blog__content_card-img {
  width: 100%;
  height: 100%;
}

.blog_content-card_container {
  padding: 1rem;
}

.blog_content-card_container span {
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
}

.blog_content-card_container h1 {
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.blog_content-card_container small {
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .blog_content-card_container h1 {
    font-size: 18px;
    line-height: 25px;
  }
}
